<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <title>Project Name</title>
</head>
<body class="w-screen h-screen"></body>

    <header class="w-full h-auto py-2 px-4 flex bg-green-900 text-white">
        <h1 class="w-full font-medium tracking-wide">Agenda Virtual</h1>
        <div id="menu-right" class="w-full flex justify-end">
            <a href=""><span>Login</span></a>
        </div>
    </header>