<% if (errors.length > 0) {%>
    <div class="w-full flex mt-4 px-6 py-4 self-center bg-pink-300 text-red-900 rounded-lg">
        <% errors.forEach(error =>{ %>
            <%= error %><br>
        <% }); %>
    </div>
<% }%>
<% if (success.length > 0) {%>
    <div class="w-full flex mt-4 px-6 py-4 self-center bg-green-300 text-green-900 rounded-lg">
        <%= success %>
    </div>
<% }%>