<%- include('includes/head'); %>

    <main class="w-full h-full flex justify-center items-center">
        <section class="w-full h-full mt-8 px-12">
            <h2 class="py-2 text-5xl text-pink-600 text-center tracking-wider">
                Olá <%= user.nome %>, seja bem vindo!
            </h2>
        
        </section>
    </main>
    
<%- include('includes/footer'); %>