<%- include('includes/head'); %>

    <main class="flex flex-col py-6 px-8">
        <h2>Sua Agenda Virtual</h2>
        <div class="w-1/2 flex mt-8 px-6 py-4 self-center bg-pink-300 text-red-900 rounded-lg">
            <span class="material-icons">warning</span>
            <p class="ml-6">Este é o texto de erro</p>
        </div>
        <section id="cards" class="w-full h-auto mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2 grid-flow-cols-dense" >
            
            <article class="note w-auto h-auto">
                <div class="flex">
                    <span class="material-icons">perm_identity</span>
                    <h3 class="ml-4">Viriato Nova</h3>
                </div>
                <div class="flex">
                    <span class="material-icons">phone</span>
                    <p class="ml-4">71 99235 0005</p>
                </div>
                <div class="flex">
                    <span class="material-icons">email</span>
                    <p class="ml-4">agendavirtual@gmail.com</p>
                </div>
                <div class="flex">
                    <span class="material-icons">subject</span>
                    <p class="ml-4">falar com viriato sobre os assuntos da reunião</p>
                </div>
            </article>
            <article class="note w-auto h-auto">
                <div class="flex">
                    <span class="material-icons">perm_identity</span>
                    <h3 class="ml-4">Viriato Nova</h3>
                </div>
                <div class="flex">
                    <span class="material-icons">phone</span>
                    <p class="ml-4">71 99235 0005</p>
                </div>
                <div class="flex">
                    <span class="material-icons">email</span>
                    <p class="ml-4">agendavirtual@gmail.com</p>
                </div>
                <div class="flex">
                    <span class="material-icons">subject</span>
                    <p class="ml-4">falar com viriato sobre os assuntos da reunião</p>
                </div>
            </article>
            <article class="note w-auto h-auto">
                <div class="flex">
                    <span class="material-icons">perm_identity</span>
                    <h3 class="ml-4">Viriato Nova</h3>
                </div>
                <div class="flex">
                    <span class="material-icons">phone</span>
                    <p class="ml-4">71 99235 0005</p>
                </div>
                <div class="flex">
                    <span class="material-icons">email</span>
                    <p class="ml-4">agendavirtual@gmail.com</p>
                </div>
                <div class="flex">
                    <span class="material-icons">subject</span>
                    <p class="ml-4">falar com viriato sobre os assuntos da reunião</p>
                </div>
            </article>
            <article class="note w-auto h-auto">
                <div class="flex">
                    <span class="material-icons">perm_identity</span>
                    <h3 class="ml-4">Viriato Nova</h3>
                </div>
                <div class="flex">
                    <span class="material-icons">phone</span>
                    <p class="ml-4">71 99235 0005</p>
                </div>
                <div class="flex">
                    <span class="material-icons">email</span>
                    <p class="ml-4">agendavirtual@gmail.com</p>
                </div>
                <div class="flex">
                    <span class="material-icons">subject</span>
                    <p class="ml-4">falar com viriato sobre os assuntos da reunião</p>
                </div>
            </article>
            <article class="note w-auto h-auto">
                <div class="flex">
                    <span class="material-icons">perm_identity</span>
                    <h3 class="ml-4">Viriato Nova</h3>
                </div>
                <div class="flex">
                    <span class="material-icons">phone</span>
                    <p class="ml-4">71 99235 0005</p>
                </div>
                <div class="flex">
                    <span class="material-icons">email</span>
                    <p class="ml-4">agendavirtual@gmail.com</p>
                </div>
                <div class="flex">
                    <span class="material-icons">subject</span>
                    <p class="ml-4">falar com viriato sobre os assuntos da reunião</p>
                </div>
            </article>
            

        </section>

        
    </main>
    
<%- include('includes/footer'); %>