<%- include('includes/head'); %>

    <main class="w-full h-full flex justify-center items-center">
        <section class="form-geral">
            <h2 class="titles">Log In</h2>
            <p class="paragraphs">
                this agenda is version beta, your account will be 
                remember just for seven days. 
            </p>
            <%- include('includes/menssages'); %>
            <form id="form-login" class="w-full h-full mt-4 flex flex-col justify-center" action="/login/user" method="post">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <label class="simpletext ml-2" for="email">Email</label>
                <input class="form-input mt-px px-3" type="text" name="email" placeholder="Ex: youremail@email.com">
                <label class="simpletext mt-4 ml-2" for="password">Password</label>
                <input class="form-input mt-px px-3" type="password" name="password">
                <button type="submit" class="w-full h-full mt-8 py-2 form-buttom">Sign in</button>
            </form>
            <div class="w-full mt-4 flex justify-center">
                <p>Don't have account?</p>
                <a class="ml-2 font-bold" href="/register">Sign up</a>
            </div>
        </section>
    </main>
    
<%- include('includes/footer'); %>